# General ignores
*.pyc
.DS_Store
.project
.pydevproject
**/*~
# Httk specific ignores
httk.cfg
httk.old
External
#Docs/full/_static/generated/**
Docs/full/_build/**
# Docs/full/generated/**
Docs/full/httk.*
Presentation/generated/**
Presentation/presentation.pdf
Presentation/presentation.aux
Presentation/presentation.fdb_latexmk
Presentation/presentation.fls
Presentation/presentation.log
Presentation/presentation.nav
Presentation/presentation.out
Presentation/presentation.snm
Presentation/presentation.toc
Presentation/presentation.vrb
VERSION
#httk_overview.pdf
gittools
httk.old*
*.orig
src/httk/distdata.py
src/httk.egg-info
.pytest_cache
.tox
.nvimlog
Tests/structreading.tmp
Tests/python_versions/ver2
Tests/python_versions/ver3
build
.gitignore