matplotlib
numpy==1.26.4; python_version >= '3.9' and python_version <= '3.12'
numpy==1.24.4; python_version >= '3.8' and python_version < '3.9'
numpy==1.16.6; python_version >= '3.4' and python_version < '3.8'
ase
pymatgen
docutils
web.py
markdown
python-markdown-math
pyyaml
legacy-cgi; python_version >= '3.11'
