###############################################################################
##
## This file lives inside the httk python module directory and defines
## the default setting for options.
##
###############################################################################

[general]
bypass_git_version_lookup=no
allow_system_libs=yes
auto_print_citations_at_exit=yes

[paths]
gulp=
pyspglib=
platon=
ase=
isotropy=
jmol=
