body {
  padding-top: 0rem;
}
.navbar-custom {
}
.navbar-custom .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}
.navbar-custom .nav-link.active,
.navbar-custom .nav-link:hover {
    color: #000000;
} 
.border-3 {
    border-width:3px !important;
}
.border-orange {
    border-color: #f80 !important;
}
.border-darkgrey {
    border-color: #888 !important;
}
.orange {
    color: #f80 !important;
}
.dropdown .dropdown-menu .dropdown-item:active, .dropdown .dropdown-menu .dropdown-item:hover{background-color: white; color: black;}
.dropdown .dropdown-menu .dropdown-item {background-color: white; color: grey;}

.align-right {
  float: right;
  margin: 2em;
}

h1, h2, h3 { 
    padding-top: 1em;
}

.publist a {
    font-style: italic;    
}
  
