<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>{page.title}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="{page.relbaseurl}/resources/css/httkdemo.css" rel="stylesheet">

  </head>
  <body>

    <nav class="navbar navbar-custom navbar-expand-md navbar-static-top border-bottom border-3 border-darkgrey">
      <div class="btn-group">
	<a class="btn btn-info" href="{page.relbaseurl}/index.html">Httk test website</a>
	<button type="button" class="btn btn-primary dropdown-toggle btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  <span class="caret"></span>
	  <span class="sr-only"></span>
	</button>
	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
	  <a class="dropdown-item" href="https://example.com/">Another website</a>
	  <a class="dropdown-item" href="http://openmaterialsdb.se">Open Materials Database</a>
	</div>
      </div>
      <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#header_tabs" aria-controls="header_tabs" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
	<ul class="navbar-nav nav ml-auto">
	  {menuitems:repeat:
            <li class="nav-item">
              <a class="nav-link" href="{page.relbaseurl}/{{pages:call:{{item}}:relurl}}">{{pages:call:{{item}}:title}}</a>
            </li>
	  }
	</ul>
      </div>
    </nav>
    <div class="container">
      <main>
	{content}
      </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </body>
</html>
