<form name="materialsearch" action='{page.functionurl}' method="get" style="background-color: lightgrey; padding-top: 1em; padding-bottom: 1em; margin-bottom: 1em;">
  <div style="padding: 0px; text-align: center;">
    <span style="display: inline-block; text-align:left; width:50%">
      <h3 style="background-color: lightgrey; padding: 0em; margin: 0em;">Search for Materials</h3>
      (Can enter names and symbols)<br/>
      <input type="text" id="q" style='width:90%' name="q" value="{query[q]:if-set:{query[q]}:Aluminium}"/><br/>
      <div style="height:0.3em"></div>
      <input type="submit" name="submit" value="submit"/><br/>
    </span>
  </div>
</form>
<div class="container">
{page.search_result}
{page.material_details}
</div>
